*{
    margin:0;
    padding:0;
   }
   body{
    min-height: 100%;
    border: 5px solid green;
   }
   .box1{
    background-color: black;
    color: white;
    display: inline-block;
    border: solid;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
    position: static;
   
    
    border-color: red;
   
   
   
   }
   .box2{
    background-color: black;
    color: white;
    display: inline-block;
    border: solid;
    border-color: red;
    padding: 10px;
    padding-left: 50px;
    border-radius: 60px;
    position: relative;
    right: 40px;
   
   
   }
   .box3{
    display: inline-block;
    background-color: black;
    color: white;
    border: solid;
    border-radius: 20px;
   margin-left: 300px;
    border-color: red;
   padding:5px;
   margin-top: 20px;
   padding-left: 20px;
   }
   .form{
    margin-right: 500px;
    margin-top: 50px;
    display: block;
    margin-left: 500px;
    border-style: dashed;
   
   }
   .form,h1{
    color: red;
    
   }
   .center{
    text-align: center;
   }
   
   .box4{
    color: black;
    border-style: solid;
    width:300px ;
    height: 300px;
    border-radius: 50%;
    position: relative;
    bottom: 280px;
    left: 50px;
    background-color: green;
   }
   .content{
    text-decoration-line: underline;
    position: absolute;
    width: inherit;
    height: auto;
    text-align: center;
    top: 30%;
   
   }
   .box5{
    background-color: black;
    color: white;
    width: 400px;
    position: relative;
    text-align: center;
    border-radius: 10px;
    border-color: red;
    border-style: solid;
    left: 30%;
    bottom:210px;
    
   }
   .box6{
    height: 230px;
    width: 250px ;
    border: 2px solid black;
    border-radius: 20px;
    background-color: blue;
    display: inline-block;
    margin: 80px;
   }
   li{
    text-align: center;
    display: list-item;
   }
   ul{
    list-style-type: disc;
    list-style-position: outside;
   }